## basic1 데이터에서 f4가 E로 시작하면서 부산에 살고 20대인 사람은 몇 명일까요?

In [1]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")

In [2]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [7]:
df[('E' in df['f4'])]

KeyError: False

In [9]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df['EI'] = df['f4'].str[:1]
cond1 = df['EI'] == "E"
cond2 = df['city'] == "부산"
cond3 = (df['age'] >= 20) & (df['age'] < 30)

print(len(df[cond1 & cond2 & cond3]))

0

In [10]:
df['EI']

0     E
1     E
2     I
3     I
4     I
     ..
95    E
96    I
97    I
98    E
99    E
Name: EI, Length: 100, dtype: object