# T1-30. 12월 25일 결제 금액(price)은 12월 총 결제금액의 몇 %인가? (정수로 출력)

In [27]:
import pandas as pd
df = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")
df

        date  hour    menu  price
0   20221129    13    딸기라떼   4000
1   20221130    12    카페라떼   3000
2   20221201    14   바닐라라떼   3500
3   20221201    16    초코라떼   3500
4   20221202    17    모카라떼   3500
5   20221202    12   카라멜라떼   3500
6   20221203     8   챠이 라떼   3500
7   20221203     9   아메리카노   2000
8   20221203    15   오곡 라떼   4000
9   20221203    16   아메리카노   2000
10  20221225    10   아메리카노   2000
11  20221225    14  토피넛 라떼   4000
12  20221225    16   카페 라떼   3000

In [28]:
# your code
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    13 non-null     int64
 1   hour    13 non-null     int64
 2   menu    13 non-null     object
 3   price   13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 544.0+ bytes

In [29]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

In [30]:
df.head()

        date  hour   menu  price
0 2022-11-29    13   딸기라떼   4000
1 2022-11-30    12   카페라떼   3000
2 2022-12-01    14  바닐라라떼   3500
3 2022-12-01    16   초코라떼   3500
4 2022-12-02    17   모카라떼   3500

In [31]:
df_1225 = df[(df['date'].dt.month == 12) & (df['date'].dt.day == 25)]

In [34]:
sum_1225 = df_1225.price.sum()

In [35]:
total_12 = df[df['date'].dt.month == 12].price.sum()

In [36]:
int(sum_1225 / total_12 * 100)

26

In [26]:
# 풀이

df = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")

df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
cond1 = df['date'].dt.month == 12
cond2 = df['date'].dt.day == 25
result = sum(df[cond1 & cond2]['price']) / sum(df[cond1]['price'])
print(int(result*100))

26