In [19]:
# 주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
# 앞에서 부터 20개의 데이터를 추출한 후 
# f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)

# - 데이터셋 : basic1.csv 
# - 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
# - File -> Editor Type -> Script

import pandas as pd

# 데이터 불러오기
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")

In [20]:
df2 = df[df['f2'] == 0].sort_values('age').head(20).reset_index(drop=True)

In [21]:
# f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)
var1 = df2['f1'].var()
var1

351.7636363636363

In [22]:
df2['f1'] = df2['f1'].fillna(df2['f1'].min())
var2 = df2['f1'].var()
var2

313.32631578947377

In [24]:
print(round(abs(var2 - var1), 2))

38.44

In [14]:

df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")

# f2가 0인 데이터 정렬(age 오름차순)
cond = (df['f2']==0)
df = df[cond].sort_values('age', ascending=True).reset_index(drop=True)

# 앞에서 부터 20개의 데이터 
df = df[:20]
print(df)
# f1 결측치(최소값)를 채우기 전과 후의 분산
df_var1 = df['f1'].var()
df['f1'] = df['f1'].fillna(df['f1'].min())
df_var2 = df['f1'].var()

# 소수점 둘째자리까지 출력
print(round(df_var1 - df_var2, 2))

# 정답 : 38.44




# 추가 설명 판다스와 넘파이 기본값 비교

import numpy as np
print("numpy:", np.var(df['f1']))
print("pandas(ddof=0):",df['f1'].var(ddof=0))

print("pandas:",df['f1'].var())
print("numpy(ddof=1):", np.var(df['f1'], ddof=1))

      id   age city     f1  f2   f3    f4         f5
0   id99   1.0   경기   47.0   0  NaN  ESFJ  97.381034
1   id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
2   id86   2.0   경기    NaN   0  NaN  ESTP  29.269869
3   id57   3.0   대구  111.0   0  NaN  ISFJ  29.269869
4   id91   6.0   경기   72.0   0  NaN  INTP   9.796378
5   id72   8.0   경기   97.0   0  NaN  ESTJ  97.381034
6   id13  15.0   서울   68.0   0  NaN  ESFJ  83.685380
7   id30  16.0   부산    NaN   0  NaN  ESTJ  17.252986
8   id48  18.0   대구    NaN   0  NaN  ENFP  20.129444
9   id12  20.0   서울    NaN   0  NaN  ESTP  91.297791
10  id93  21.8   경기   57.0   0  NaN  ISFP  73.586397
11  id06  22.0   서울   57.0   0  vip  INTP  20.129444
12  id43  23.0   대구   60.0   0  NaN  ISTP  29.269869
13  id32  25.0   부산   64.0   0  vip  ISFJ  13.049921
14  id65  26.5   경기    NaN   0  NaN  ISFP  91.297791
15  id79  30.0   경기    NaN   0  NaN  INTJ  80.138280
16  id25  34.0   부산    NaN   0  NaN  ESTP  60.339826
17  id51  36.0   대구    NaN   0  NaN  ISTJ  83.685380
18  id27  37.0   부산   60.0   0  NaN  ESTP  73.586397
19  id11  40.0   서울   68.0   0  NaN  ENFP  98.429899
38.44
numpy: 297.6600000000001
pandas(ddof=0): 297.6600000000001
pandas: 313.32631578947377
numpy(ddof=1): 313.32631578947377