<a href="https://colab.research.google.com/github/Yeyeong99/bda/blob/main/%EB%B3%B5%EC%8A%B5_%EC%9D%B4%EC%98%88%EC%98%8112_1108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
# 타이타닉 데이터 로드
titanic = sns.load_dataset('titanic')

In [3]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
# 등급 -> 성별 별로 그룹화 하여 통계 분석
grouped_by_sex = titanic.groupby('sex')

In [5]:
female_stats = grouped_by_sex.get_group('female').describe()
male_stats = grouped_by_sex.get_group('male').describe()

In [8]:
print(f'여성 탑승객 통계치:\n {female_stats}')

여성 탑승객 통계치:
          survived      pclass         age       sibsp       parch        fare
count  314.000000  314.000000  261.000000  314.000000  314.000000  314.000000
mean     0.742038    2.159236   27.915709    0.694268    0.649682   44.479818
std      0.438211    0.857290   14.110146    1.156520    1.022846   57.997698
min      0.000000    1.000000    0.750000    0.000000    0.000000    6.750000
25%      0.000000    1.000000   18.000000    0.000000    0.000000   12.071875
50%      1.000000    2.000000   27.000000    0.000000    0.000000   23.000000
75%      1.000000    3.000000   37.000000    1.000000    1.000000   55.000000
max      1.000000    3.000000   63.000000    8.000000    6.000000  512.329200

In [9]:
print(f'남성 탑승객 통계치:\n {male_stats}')

남성 탑승객 통계치:
          survived      pclass         age       sibsp       parch        fare
count  577.000000  577.000000  453.000000  577.000000  577.000000  577.000000
mean     0.188908    2.389948   30.726645    0.429809    0.235702   25.523893
std      0.391775    0.813580   14.678201    1.061811    0.612294   43.138263
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   29.000000    0.000000    0.000000   10.500000
75%      0.000000    3.000000   39.000000    0.000000    0.000000   26.550000
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

In [10]:
#생존률 계산 (전체 탑승객 수 대비 생존자 수)
female_survival_rate = grouped_by_sex.get_group('female')['survived'].mean() * 100
male_survival_rate = grouped_by_sex.get_group('male')['survived'].mean() * 100

In [11]:
print(f'여성 생존률: \n {female_survival_rate}')

여성 생존률:
 74.20382165605095

In [12]:
print(f'남성 생존률: \n {male_survival_rate}')

남성 생존률:
 18.890814558058924

In [13]:
from scipy import stats

In [14]:
# 타이타닉의 성별에 따른 생존자와 사상자 수를 계산
# 카이제곱 통계량 p-value, 자유도, 기대값 테이블 등을 이용해
# 통계적으로 성별에 따른 생존률 차이가 유의미한지 분석

crss_table = pd.crosstab(titanic['sex'], titanic['survived'])

In [15]:
chi2, p, dof, expected =stats.chi2_contingency(crss_table)

In [18]:
## 결과출력

print('카이제곱 통계량',chi2)
print()
print('p-value',p)
print()
print('자유도',dof)
print()
print('기댓값 테이블',expected)
print()

## p-value 결과 도출
if p < 0.05:
    print('성별에 따른 생존률 차이는 통계적으로 유의미하다.')
else:
    print('성별에 따른 생존률 차이는 통계적으로 유의미 하지 않다.')

카이제곱 통계량 260.71702016732104

p-value 1.1973570627755645e-58

자유도 1

기댓값 테이블 [[193.47474747 120.52525253]
 [355.52525253 221.47474747]]

성별에 따른 생존률 차이는 통계적으로 유의미하다.

## 판다스 인코딩 방식

In [19]:
dummies = pd.get_dummies(titanic['sex'])

In [20]:
dummies

     female   male
0     False   True
1      True  False
2      True  False
3      True  False
4     False   True
..      ...    ...
886   False   True
887    True  False
888    True  False
889   False   True
890   False   True

[891 rows x 2 columns]

In [21]:
dummies *= 1
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [22]:
pd.concat([titanic, dummies], axis=1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,female,male
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0,1
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1,0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0,1
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1,0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1,0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0,1
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0,1

In [23]:
import numpy as np

In [24]:
# pd.cut(): 연속형 변수를 특정 구간의 범주형 데이터로 변환 시 사용 가능 ex) 연령에 대한 데이터를 범주형으로 나눌 시 사용
age_df = np.array([15,30,45,60,75])

In [25]:
age_df = pd.cut(age_df, bins=[0, 19, 65, 100], labels = ['청소년','성인','노인'])

In [26]:
age_df

['청소년', '성인', '성인', '성인', '노인']
Categories (3, object): ['청소년' < '성인' < '노인']

In [27]:
#pd.qcut() 분위수를 기준으로 연속형 데이터를 나눈 후 범주형 데이터로 변환

data=np.random.randn(1000)
data

array([-1.02969534e+00,  1.74374228e+00,  2.66838643e-01, -8.95762143e-01,
        1.89169812e-02,  9.77174258e-01, -1.08854517e+00,  1.71425682e+00,
       -8.38951131e-01,  3.22142152e-01,  3.23680782e-01,  7.14498796e-01,
        3.27957241e-01, -1.21938233e+00, -1.08326482e-01,  1.32332107e-01,
       -1.06589511e+00,  7.56938946e-01, -7.04225246e-01, -8.20455536e-01,
       -7.07890991e-01, -1.97149187e+00,  1.35960485e+00, -2.14923081e-01,
       -5.72179739e-01,  2.61193297e+00,  8.48838966e-01,  2.83770517e-01,
        6.84509345e-01,  1.25662791e-01, -4.88907576e-01,  7.32236301e-01,
        6.83189915e-01, -4.11968776e-01, -1.11012005e+00,  8.44462770e-01,
       -5.41662415e-01, -1.02649359e+00, -1.27204988e+00,  4.95597353e-01,
        3.36571084e-01, -2.05536962e+00,  5.05740150e-01,  1.08206216e-01,
       -2.46151641e-01,  7.08333436e-02,  5.02885820e-01,  6.39775155e-01,
        8.59242271e-02, -1.12284253e+00, -7.64847965e-01, -4.18789218e-01,
        3.49348855e-01, -6.94596151e-01,  7.97978328e-01, -1.63918981e+00,
        8.49997695e-02, -3.34749335e-01,  1.28738421e-01, -4.26605425e-01,
        1.66284820e+00, -2.91520642e-01, -1.31583855e+00, -1.33047408e+00,
       -1.71047227e+00,  6.19454675e-01, -3.99402236e-01,  1.36570381e+00,
        2.53090181e-01, -1.45374859e+00, -1.89913929e+00,  1.26494827e-01,
        8.04107644e-01,  1.07446348e+00, -7.13803014e-01, -2.34724062e-01,
       -2.84650388e-01, -4.03866036e-01, -1.85908272e+00, -1.05453005e+00,
       -6.60896015e-01, -2.86926082e-01,  3.15037085e+00, -7.95547974e-02,
       -4.42184833e-01, -4.34227661e-01,  5.54324099e-01,  4.90089789e-01,
        2.76369049e-01, -1.87594105e-01,  1.11539534e+00, -7.08235967e-01,
        1.75859657e-02,  1.09901761e+00,  6.90148812e-01, -6.48080049e-01,
       -5.62686374e-02, -2.70043188e-01,  2.00183874e-01, -2.34709523e-01,
       -3.13408782e-01,  3.41323706e-01,  1.36855838e+00, -2.00473240e+00,
       -1.35224017e+00,  1.17149397e+00,  8.28568572e-01,  4.85371025e-01,
        9.95894457e-01, -1.39687597e+00, -5.74873926e-01, -1.07574663e+00,
       -3.36853581e-01,  1.27686230e+00, -4.16877570e-01, -1.32574605e+00,
        2.88925349e-02,  8.32602654e-01,  1.02385763e+00, -4.01665919e-01,
       -1.64868842e-01,  9.63587316e-01,  3.61544069e-01, -2.31078791e-01,
        6.11244685e-01,  8.68209004e-02,  3.91682908e-01,  1.71556479e+00,
       -1.93525885e-02, -8.78562465e-01, -7.62404015e-01, -1.21687660e+00,
       -3.13924309e-01,  7.27515286e-01, -5.61009441e-01, -1.68512537e-01,
        2.23500174e-01,  1.69343003e-01,  1.55842553e+00,  1.14662954e+00,
        4.11833170e-02,  1.04319953e+00, -1.40495490e+00, -1.49223861e-01,
       -2.05012186e-01, -1.41949358e+00, -1.02896814e+00, -1.51135203e+00,
        1.56445086e+00,  3.88699076e-01,  1.75814264e+00, -3.49494537e-01,
       -8.68345097e-01,  5.15214763e-01,  1.57999341e+00,  2.08826952e+00,
        2.10352860e-01, -3.94179471e-01,  9.79864658e-01, -1.92307017e+00,
        9.58506447e-01,  1.08229026e+00,  1.27041293e+00, -7.72038974e-01,
       -1.11902236e+00,  9.98580950e-02, -5.82497193e-01, -6.44232521e-01,
        1.69278318e-01, -6.58091642e-01,  7.00484137e-01,  1.30727287e+00,
       -1.07848784e+00,  4.25986530e-01,  3.73312800e-01, -7.37396677e-01,
       -1.03612157e-01, -4.97353493e-01,  5.10201650e-01, -8.13595251e-01,
       -1.13423971e-01,  4.60040293e-01,  1.01602307e+00,  3.28379741e-01,
       -1.75978335e+00, -1.22847490e+00, -3.24013219e-01, -1.34972170e+00,
       -5.83834986e-01, -4.43690853e-01, -5.19837555e-01, -7.01011340e-01,
        1.73447420e+00, -2.05753702e-01, -9.12951492e-02,  1.32237884e+00,
       -7.38860856e-01, -9.71122117e-01,  6.29817952e-02,  1.31870235e+00,
        5.34889583e-01,  1.17088738e+00,  2.18650480e+00, -8.83589593e-01,
       -3.42593792e-01, -1.29114451e-01,  8.85406473e-01,  8.32242135e-01,
       -3.54062289e-01, -2.74553095e-01,  2.70180071e+00,  9.24637573e-01,
       -1.71140228e+00, -8.70856067e-02, -2.39772380e-01,  2.39388609e-01,
        1.22726024e+00,  6.81466979e-01, -6.32736356e-01,  4.41641642e-01,
       -6.64063538e-01, -6.03412763e-01,  2.83249772e-02,  9.06004148e-01,
        1.70802496e+00, -5.18833827e-01, -6.51737066e-02, -9.64239081e-01,
       -4.74959463e-01, -1.21781515e+00, -8.95818789e-01,  2.79021338e+00,
        9.47878375e-02,  1.64114765e-01,  1.53437038e+00, -6.35347389e-01,
       -1.48271091e+00, -1.26326384e+00,  1.06034143e+00, -8.14727455e-01,
        1.19496245e-01,  1.06617200e+00,  6.30241165e-01,  7.45337250e-01,
        3.68071700e-01,  8.55055031e-01, -1.44063407e-01,  1.76894420e+00,
        1.18514622e+00,  3.74016503e-01, -2.22917268e-01,  5.79542057e-01,
        4.29000590e-01, -2.32943672e+00,  2.25647401e+00,  3.69452112e-01,
        5.03970559e-01,  2.08511684e+00,  1.83461102e+00,  4.82140564e-03,
       -7.18152963e-01,  1.53306889e-01, -7.81979071e-01, -7.36986311e-01,
        1.42587371e+00,  1.09232760e+00, -1.18278993e+00,  1.65744138e+00,
        1.61837885e-01, -6.78044641e-01,  9.28156954e-01,  8.76749292e-01,
        1.82699610e-01, -1.03246284e+00, -9.00257205e-01, -1.09073603e+00,
       -1.90584651e+00,  8.14147264e-01,  3.25503429e-01, -1.78176336e+00,
        5.37568528e-01, -7.74173478e-01,  5.64296379e-01, -8.42436272e-02,
       -2.07579081e+00, -1.07579712e-01, -1.43769458e+00, -1.62887846e+00,
       -2.88402315e-01, -1.66177732e+00,  9.83830946e-01,  6.56070376e-01,
       -1.49731842e+00,  9.97784372e-01, -7.48422306e-01,  2.82771317e-01,
       -6.04199317e-01,  3.59019355e-01,  5.30800120e-01,  6.94016467e-01,
       -1.81455178e+00,  8.21362229e-01,  7.16586632e-01, -8.30406140e-01,
        3.89365571e-01, -2.64912776e-01, -1.29225803e-01,  8.92639281e-01,
       -6.38515435e-01, -5.24720698e-01, -1.04268837e+00, -1.28459370e+00,
        9.80019625e-01,  7.85847408e-01,  3.15745033e-01,  1.63708471e+00,
       -8.64410604e-01,  3.95643300e-01, -5.31137400e-01, -2.39376466e-01,
       -1.32877500e+00, -7.32559723e-01, -6.74603248e-01,  2.33882457e-01,
        2.71992911e+00, -1.95069980e+00, -2.45478007e-01,  3.41653735e-01,
        1.62763364e-01,  7.33976434e-01, -3.48342090e-01,  4.30999454e-01,
       -4.02173119e-01, -9.96793151e-02,  9.76145665e-01, -5.98639950e-01,
        1.04164164e+00,  9.51555836e-01, -1.36080243e+00, -4.65657516e-01,
       -9.66261799e-01, -1.97781637e+00, -1.28403713e-02,  8.18994878e-01,
       -4.49895130e-01,  2.00611219e-01,  9.18895490e-01, -1.07415023e+00,
       -1.55872346e+00, -5.44239550e-01, -6.23510698e-01,  3.37751849e-01,
        1.67741909e-01, -8.96974078e-01, -1.00991730e+00, -1.36792687e+00,
       -2.36210733e+00,  5.37243714e-02,  1.54612109e+00, -6.23448211e-01,
       -7.43344739e-01, -8.27708052e-01, -1.46892717e+00,  1.24268072e+00,
        1.29483730e+00,  8.68311476e-02, -3.16825789e-01, -5.93197071e-01,
       -1.39140201e+00,  8.22871160e-01,  1.83190408e+00, -6.13446653e-02,
       -6.99197724e-01,  1.04833248e+00,  6.67131243e-01, -9.39220564e-01,
        2.10376780e-01,  4.54892961e-01, -1.17480669e+00,  1.79035332e+00,
       -9.51976266e-02,  2.79673789e-01, -8.80791570e-01, -8.48847182e-01,
        8.45304525e-01, -8.92490998e-01, -1.95576572e+00,  2.88119964e-01,
        9.24363062e-01,  5.95071198e-01,  7.12098014e-01,  1.25329581e+00,
       -1.27176256e+00,  7.47475235e-01, -5.41219061e-01,  2.20400490e-01,
        2.58540106e-01, -7.67710241e-01, -5.08806040e-01, -7.14062915e-01,
       -1.29015139e+00, -5.27571828e-01,  3.51482141e-01, -8.71562429e-01,
        6.59239288e-02, -5.86898296e-01,  9.31131120e-01, -1.76782219e+00,
       -1.84432336e+00,  1.86310997e-01,  8.00168924e-01, -1.55509855e+00,
        6.56381417e-01, -1.07541073e+00, -1.22480720e+00,  4.05993077e-01,
        7.52978700e-01,  5.56636963e-01,  1.01682134e-01, -1.22055033e+00,
       -1.21859192e+00,  1.78697163e+00, -1.03757331e+00, -5.71242779e-01,
       -3.35721610e-01,  9.73091716e-01, -2.26033765e-01,  5.99093561e-01,
        2.85546848e-01, -7.71609511e-01,  5.78581752e-01, -7.39628489e-01,
        3.69032522e-01,  2.70304933e-01, -1.25960895e+00,  4.16341283e-01,
        2.31683195e-01,  4.10208425e-01, -4.08241133e-01, -4.21195177e-01,
       -9.68197294e-01, -1.39089413e-01,  3.68694340e-01, -4.22510373e-02,
        1.85561804e-01, -2.39234106e-01, -2.45503923e+00,  1.51767063e+00,
       -7.66166149e-01, -2.89341107e-01, -1.83269634e-01, -2.48237311e-01,
       -1.46254584e+00,  7.63681956e-01,  3.52906545e-01, -2.23085221e-01,
        6.86537798e-01,  1.29114281e+00, -3.59818754e-01,  5.22554366e-01,
        6.77753924e-01, -8.96152729e-01,  6.44154781e-01,  4.18723425e-01,
        2.26530321e+00, -1.29776172e+00,  1.39445503e+00, -8.09258657e-01,
        6.30331582e-01,  1.05536218e+00, -3.09224580e-01, -3.85477972e-03,
       -4.67388296e-01,  9.67697493e-01,  7.84282571e-01,  1.87464136e+00,
        2.50005331e-01, -1.54743584e+00,  1.09888444e+00,  9.98629360e-01,
        2.21839640e-01, -1.08928428e+00, -1.56004897e-01,  4.04211571e-01,
        4.81499645e-01,  1.29527343e-01,  2.47517822e-01,  9.89642726e-01,
        4.40190858e-01, -1.03930686e+00,  2.35835586e+00,  2.24984743e+00,
       -1.46848416e+00, -1.52281334e+00,  1.22963913e+00,  1.22777543e+00,
        3.98216675e-01,  3.43898126e-01, -1.06652831e+00, -4.57553611e-01,
        5.74458305e-01, -1.15360809e+00,  1.97771015e-01, -4.26385864e-01,
       -2.14813859e+00, -2.55797072e+00, -9.57185284e-01, -1.04752859e+00,
        1.35691890e+00,  5.79769841e-01, -1.52897973e-01,  1.99874921e+00,
        6.71132152e-01,  1.89235287e-01,  2.11118219e+00, -1.59555500e+00,
       -2.80611390e-02,  1.17434733e+00,  3.53815341e-01,  4.18135631e-01,
        7.67990772e-01,  8.10412709e-02, -1.81855421e-01, -1.75069593e+00,
       -3.03978456e-02,  1.01138622e+00,  7.45040832e-02, -9.20789714e-01,
       -3.25923061e-01, -7.48580920e-01, -1.35411638e-01, -1.16050123e+00,
        5.84332742e-01, -7.11880220e-01,  1.31425288e+00,  3.16750278e-01,
       -7.11593723e-01,  9.19568176e-01,  1.44629997e+00,  2.57926549e-01,
       -1.28294950e+00,  1.15791435e+00, -3.69323686e-02,  5.44636715e-01,
       -1.82077514e-01,  3.95194465e-01, -2.33352765e+00,  1.25659326e+00,
        1.72472474e-01, -4.92210510e-01, -8.57091300e-01,  1.29138143e-01,
       -1.34776144e+00, -6.26337428e-01,  2.22089674e+00,  2.06997366e+00,
        5.73966235e-01, -7.25481535e-01, -3.40254271e-01, -1.27177837e+00,
       -1.63806204e+00,  2.25030420e-01,  2.30395592e-01,  7.15225322e-01,
        4.07321154e-01, -1.42689973e-01, -1.83885483e+00,  1.31457862e+00,
       -5.31770179e-01,  7.23329391e-01,  2.70603171e-01, -1.34547888e+00,
        2.25263759e-01, -1.04228972e+00,  4.63414579e-01, -6.27331763e-01,
        7.21811777e-01, -5.62860666e-01,  1.24173469e+00, -2.50207274e-01,
        2.09999382e-01,  1.21054083e+00, -9.04640068e-01, -3.99012336e-01,
        7.13845712e-01, -2.80925704e-01, -1.31251042e+00, -5.44564014e-01,
       -2.32971640e-01,  1.73403710e+00,  1.28611451e+00, -7.18736880e-01,
       -6.05968289e-01,  1.25699138e+00, -1.07508718e+00, -3.83279545e-01,
       -7.42475422e-01,  1.05223399e+00,  4.11721580e-01,  7.09773354e-01,
        1.05690560e+00,  6.72055469e-01, -1.01285832e+00, -3.87393108e-01,
       -6.47450208e-01,  3.50554375e-01, -1.38630469e-01, -3.00486574e-01,
        1.56164929e-02,  2.06406836e+00, -5.18223441e-01,  7.71779377e-01,
       -5.63364626e-01, -7.91078087e-01, -1.88374008e+00,  7.32072700e-01,
        1.07798632e+00, -5.90037950e-01,  1.96313208e+00,  1.68550207e+00,
        3.53470361e-01, -1.44577978e+00,  3.89917634e-01, -1.01054935e+00,
        3.51178089e-01,  1.32310639e+00,  9.68252156e-03, -8.34603624e-01,
       -3.56132525e-01, -6.02583911e-01, -9.67217286e-01, -1.68708804e+00,
       -8.67162912e-01, -8.55459728e-01, -2.17402141e-01,  1.28102821e-01,
        4.34407911e-01, -1.07899014e+00,  1.08915256e+00,  9.49870770e-02,
       -2.00444659e+00,  1.30828478e+00, -8.01705266e-01, -5.73894525e-01,
        8.81549180e-01, -5.57229237e-01,  5.22582261e-01, -1.86956587e+00,
       -7.77176293e-01,  6.80960585e-01, -2.41761819e-01,  7.79560562e-01,
       -1.18850534e+00, -7.43048206e-01,  9.94298737e-01,  4.18199961e-01,
        1.94622449e+00,  2.94303790e-01,  8.98955145e-01,  1.19929497e+00,
        1.80375112e+00, -1.17235745e+00, -8.94214506e-02, -1.03305545e+00,
       -5.04380944e-01,  1.51248931e+00,  5.81915406e-01, -1.97345043e+00,
        1.36037759e+00, -1.86608603e+00,  7.56782056e-01,  3.55568971e-01,
       -2.02809963e+00, -1.98318435e+00,  7.15224104e-01, -5.54831284e-01,
        2.08789958e+00,  6.99101458e-01, -2.14687285e+00, -1.16130445e+00,
       -1.00159857e+00, -1.00426411e+00,  4.71195579e-01,  9.35108223e-01,
        1.22393021e+00,  7.71332446e-01,  3.48816876e-02,  2.52565541e-01,
       -1.55613305e+00, -1.71093802e+00,  1.26921769e+00,  2.48961707e-01,
       -9.55689561e-01, -1.18161224e+00,  7.89283790e-01,  1.08687714e+00,
        9.23780838e-02,  3.81385895e-01,  6.93299146e-01,  4.73191956e-01,
       -9.21461574e-01, -1.06861528e+00, -5.82352007e-02, -5.91170719e-01,
        7.82476664e-01, -7.29140311e-01,  7.21508222e-02,  2.85265167e-01,
       -4.64610242e-01,  4.44291493e-01,  7.05838831e-01, -1.66864870e+00,
        5.40528426e-02, -6.81706393e-02,  4.50482149e-01,  1.57311585e-01,
       -6.51071535e-01, -1.54398789e-01,  1.20837623e-01,  1.00120235e+00,
        1.05680709e+00,  1.48904048e+00,  1.80838150e+00, -1.46935064e+00,
       -3.94385756e-01, -9.63674382e-01,  1.79485492e+00,  8.55283009e-02,
        2.52027539e-01,  8.16451938e-01,  7.07584247e-01, -1.19037456e+00,
        4.53754312e-01,  8.18431483e-01, -4.07283928e-01, -6.38972200e-01,
        1.44698487e+00,  6.27343937e-01, -7.86414933e-01,  7.74749595e-01,
        4.46082234e-01,  3.97052650e-01,  2.90378008e-02, -1.08748123e+00,
       -1.09842902e+00, -1.56711115e+00, -1.27675647e+00, -1.97965990e+00,
        2.70794100e+00, -1.07729676e+00,  2.31913673e+00,  6.54074906e-01,
        1.07407795e+00, -9.63683671e-01, -2.48292298e-01, -2.57674072e-01,
       -1.80010039e-02, -4.10062300e-01,  4.91423687e-01,  1.14151214e+00,
       -8.16804491e-01,  6.33312863e-01, -8.20012385e-01,  1.95088014e-01,
        1.24729608e+00, -4.15430899e-01, -2.23318165e-01, -7.35193248e-01,
        6.50388723e-01, -1.60493768e-01, -3.77156615e-01, -4.40652433e-01,
        4.57737981e-01, -5.34620589e-01, -1.22643765e-01,  7.38542916e-01,
        3.44813652e-01, -1.44403257e-01,  7.49666028e-01, -8.67624371e-01,
        2.66336223e-01, -1.55135968e+00,  1.09481067e-01, -4.41832690e-01,
       -2.01059448e+00, -3.39075018e-01,  1.26022694e+00, -9.90309349e-01,
        8.44819095e-01,  2.01311331e+00,  1.71597047e+00, -8.83593285e-01,
        1.37521212e-01, -3.44717751e-01,  4.56904270e-01, -3.65647891e-01,
       -7.62801146e-01,  1.43146212e+00,  6.70055239e-01,  2.06314977e+00,
       -9.62888598e-02,  3.19457622e-01, -1.78352254e-01, -1.02976004e-01,
       -4.00009857e-01,  1.74955550e-01, -4.98404604e-01, -3.43261707e-01,
        1.17804874e-01, -8.31641909e-01,  6.43845670e-01, -1.54737481e-01,
        6.99651123e-01, -1.68301989e-01,  3.61216262e-01,  9.21543982e-01,
        1.33636026e+00, -7.58290799e-01, -2.61617292e-01, -7.36474427e-01,
        7.81183535e-01, -2.52156523e-01,  4.62571543e-01, -1.16338917e+00,
       -2.03746920e+00, -5.05099736e-01,  9.64557246e-01, -2.44515112e-01,
        8.07856923e-01,  2.44046498e-01, -5.05318384e-02, -1.99189408e+00,
        2.27833388e+00,  9.36854741e-01,  1.56454941e+00, -4.62630122e-01,
        1.10943485e+00,  1.37734001e-01,  2.43952027e+00, -1.34336220e+00,
        6.77605844e-01, -4.51770932e-01,  1.15617113e-01,  6.41694354e-01,
        1.05042309e+00, -1.21877346e+00, -1.53054085e+00, -1.10822035e+00,
       -1.21189856e+00,  1.39034545e+00, -1.56254146e-01,  1.66908186e-01,
        3.48435015e-02, -5.45566893e-01, -9.70792127e-01,  3.68309682e-01,
        4.39402887e-01,  1.03587093e-01,  7.94480503e-01, -2.70606448e-01,
        5.83109699e-01,  5.08940094e-01,  6.14616675e-01, -1.61007186e-01,
        2.09884008e+00,  1.70676318e+00, -6.11998278e-01, -4.57950692e-01,
        1.04789580e+00, -7.20843840e-01,  8.35116720e-01,  2.82636831e-01,
       -7.66666850e-01,  3.81004954e-02, -1.03159024e-02,  1.87524684e-01,
       -1.77473674e-01,  5.65635794e-01,  1.37772439e+00,  1.19726965e+00,
        5.01488385e-01, -4.14293959e-01,  7.89600030e-01, -1.10848380e+00,
        2.71857383e-01,  7.32494169e-01,  9.79354967e-01, -7.66110231e-01,
        7.67672186e-01, -6.37202929e-01,  2.71573785e+00,  3.71474420e-01,
       -3.27366414e-01, -1.17976747e-01, -6.41099537e-01,  9.45703477e-01,
       -7.30888606e-03, -1.18713213e+00, -1.20241583e+00,  1.98477077e+00,
        1.36576711e+00, -9.80447456e-01,  1.78929726e-01, -5.77669362e-01,
        1.21173145e+00, -3.00264789e+00, -1.26638668e+00,  7.35824431e-01,
       -5.11246060e-01,  4.05690086e-01,  4.54579943e-01,  1.47254296e-01,
        5.73864087e-01, -3.05888670e-01,  1.37671767e+00, -1.41088483e+00,
       -9.14219048e-02,  1.00197763e-01, -2.89675984e-01,  8.39389638e-01,
        1.70703171e+00, -4.73808819e-01,  1.17260888e+00, -9.05748554e-01,
        1.02098762e+00, -4.22171609e-01, -7.44419830e-01,  1.73280768e+00,
       -6.34608898e-01, -1.00196190e-01, -1.22810437e+00,  2.99351215e-01,
        3.48805391e-01, -7.23306512e-01, -8.09568796e-02,  9.21789908e-01,
        7.77297175e-01, -1.10952310e+00,  8.31675753e-01,  1.05096451e+00,
       -5.83935316e-02,  9.56527330e-01,  3.41308411e-01, -5.13317207e-01,
       -1.58279795e-01,  1.34415728e+00, -3.76201660e-01, -1.50700138e+00,
       -1.65490576e+00,  4.18586560e-01,  1.60563038e+00,  4.73280356e-01,
       -3.71447666e-01, -5.20455955e-01, -8.90556982e-01,  3.59215520e-01,
       -9.32677592e-02, -8.22000797e-01,  2.87444972e-01, -3.64017291e-01,
        7.58673348e-01,  2.83980051e-01, -2.67768668e-01, -2.40698332e-01,
       -6.25972827e-01, -2.05465585e+00, -7.79480976e-01, -6.80311364e-01,
       -6.48070212e-01,  6.94688308e-04,  5.50208172e-01, -1.21239363e+00,
       -1.82137553e+00, -1.23673736e-01, -7.75931233e-02, -8.84910193e-01,
       -5.90997444e-01, -1.13410908e-01,  1.64815633e+00, -7.76485628e-01,
        1.02021920e+00,  5.55586759e-01, -7.90801607e-01,  3.80431895e-01,
        3.72038956e-01,  1.82018384e-01,  4.11207605e-01, -9.20333412e-01,
        5.39418677e-01,  1.01981278e-01, -8.10428759e-01,  1.31857018e-01,
       -8.01477077e-02,  1.37620756e-01,  1.00028355e-01, -2.80827259e-01,
       -1.39724735e+00, -1.52482880e-01, -1.16642308e+00, -2.49226917e-01])

In [30]:
data_q = pd.qcut(data, q=5)

In [31]:
data_q

[(-3.004, -0.831], (0.798, 3.15], (-0.272, 0.278], (-3.004, -0.831], (-0.272, 0.278], ..., (-0.831, -0.272], (-3.004, -0.831], (-0.272, 0.278], (-3.004, -0.831], (-0.272, 0.278]]
Length: 1000
Categories (5, interval[float64, right]): [(-3.004, -0.831] < (-0.831, -0.272] < (-0.272, 0.278] <
                                           (0.278, 0.798] < (0.798, 3.15]]

In [32]:
data_q.value_counts()

(-3.004, -0.831]    200
(-0.831, -0.272]    200
(-0.272, 0.278]     200
(0.278, 0.798]      200
(0.798, 3.15]       200
Name: count, dtype: int64

In [33]:
tt_fare_q = pd.qcut(titanic['fare'], q=4)

In [34]:
tt_fare_q.value_counts()

fare
(7.91, 14.454]     224
(-0.001, 7.91]     223
(14.454, 31.0]     222
(31.0, 512.329]    222
Name: count, dtype: int64