In [ ]:
import seaborn as sns
tt= sns.load_dataset('titanic')

In [ ]:
#상위 5행만 불러온다
tt.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#수치 열을 분석
tt.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# age > 평균 인 데이터만 추출 - age_mean열이 없어서 안됨
tt.query('age == tt['age'].mean()')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-7-4c9790897e36>, line 2)

In [ ]:
age_mean = tt['age'].mean()
age_mean

29.69911764705882

In [ ]:
tt.query('age > age_mean')

UndefinedVariableError: name 'age_mean' is not defined

In [ ]:
#따로 정의할 필요없이 바로 mean() 사용하면 됨
tt.query('age > age.mean()')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,0,3,male,47.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
#who 가 man인 경우 추출
tt.query("who != 'woman'")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
#최빈값보다 크고 평균보다 낮음
tt.query('age >= age.mode() & age <age.mean() ')

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

In [ ]:
tt.query('age == age.mode()')

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

In [ ]:
# 30 이상이거나 50이하인 경우 상위 5행
tt.query('age >=30 | age <50').head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
tt.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
## 나이가 20살 이상 40살 미만의 퍼스트 클래스 여성의 데이터 - category의 경우 `` 으로 감싸줘야함
tt.query('''age >=20 & age <40 and `class` == 'First' and sex =='female' ''')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
61,1,1,female,38.0,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
151,1,1,female,22.0,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
215,1,1,female,31.0,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
218,1,1,female,32.0,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
230,1,1,female,35.0,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
257,1,1,female,30.0,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
269,1,1,female,35.0,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
290,1,1,female,26.0,0,0,78.8500,S,First,woman,False,NaN,Southampton,yes,True
309,1,1,female,30.0,0,0,56.9292,C,First,woman,False,E,Cherbourg,yes,True
310,1,1,female,24.0,0,0,83.1583,C,First,woman,False,C,Cherbourg,yes,True
318,1,1,female,31.0,0,2,164.8667,S,First,woman,False,C,Southampton,yes,False
325,1,1,female,36.0,0,0,135.6333,C,First,woman,False,C,Cherbourg,yes,True
341,1,1,female,24.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
356,1,1,female,22.0,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
369,1,1,female,24.0,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
383,1,1,female,35.0,1,0,52.0000,S,First,woman,False,NaN,Southampton,yes,False
393,1,1,female,23.0,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
412,1,1,female,33.0,1,0,90.0000,Q,First,woman,False,C,Queenstown,yes,False
486,1,1,female,35.0,1,0,90.0000,S,First,woman,False,C,Southampton,yes,False
498,0,1,female,25.0,1,2,151.5500,S,First,woman,False,C,Southampton,no,False
520,1,1,female,30.0,0,0,93.5000,S,First,woman,False,B,Southampton,yes,True
537,1,1,female,30.0,0,0,106.4250,C,First,woman,False,NaN,Cherbourg,yes,True
539,1,1,female,22.0,0,2,49.5000,C,First,woman,False,B,Cherbourg,yes,False
540,1,1,female,36.0,0,2,71.0000,S,First,woman,False,B,Southampton,yes,False
558,1,1,female,39.0,1,1,79.6500,S,First,woman,False,E,Southampton,yes,False
577,1,1,female,39.0,1,0,55.9000,S,First,woman,False,E,Southampton,yes,False
581,1,1,female,39.0,1,1,110.8833,C,First,woman,False,C,Cherbourg,yes,False
627,1,1,female,21.0,0,0,77.9583,S,First,woman,False,D,Southampton,yes,True
641,1,1,female,24.0,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
708,1,1,female,22.0,0,0,151.5500,S,First,woman,False,NaN,Southampton,yes,True
710,1,1,female,24.0,0,0,49.5042,C,First,woman,False,C,Cherbourg,yes,True
716,1,1,female,38.0,0,0,227.5250,C,First,woman,False,C,Cherbourg,yes,True
730,1,1,female,29.0,0,0,211.3375,S,First,woman,False,B,Southampton,yes,True
742,1,1,female,21.0,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
759,1,1,female,33.0,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
763,1,1,female,36.0,1,2,120.0000,S,First,woman,False,B,Southampton,yes,False
809,1,1,female,33.0,1,0,53.1000,S,First,woman,False,E,Southampton,yes,False
835,1,1,female,39.0,1,1,83.1583,C,First,woman,False,E,Cherbourg,yes,False
842,1,1,female,30.0,0,0,31.0000,C,First,woman,False,NaN,Cherbourg,yes,True

In [ ]:
#boolean 또한 ``을 넣어줘야함
tt.query('''age >=20 & age <40 and sex =='female' ''').query('age <30').query("`alone`==True")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
56,1,2,female,21.0,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
66,1,2,female,29.0,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
100,0,3,female,28.0,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
106,1,3,female,21.0,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
141,1,3,female,22.0,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
199,0,2,female,24.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
216,1,3,female,27.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
246,0,3,female,25.0,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
289,1,3,female,22.0,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
290,1,1,female,26.0,0,0,78.8500,S,First,woman,False,NaN,Southampton,yes,True
293,0,3,female,24.0,0,0,8.8500,S,Third,woman,False,NaN,Southampton,no,True
310,1,1,female,24.0,0,0,83.1583,C,First,woman,False,C,Cherbourg,yes,True
315,1,3,female,26.0,0,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,True
345,1,2,female,24.0,0,0,13.0000,S,Second,woman,False,F,Southampton,yes,True
369,1,1,female,24.0,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
376,1,3,female,22.0,0,0,7.2500,S,Third,woman,False,NaN,Southampton,yes,True
399,1,2,female,28.0,0,0,12.6500,S,Second,woman,False,NaN,Southampton,yes,True
404,0,3,female,20.0,0,0,8.6625,S,Third,woman,False,NaN,Southampton,no,True
443,1,2,female,28.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
473,1,2,female,23.0,0,0,13.7917,C,Second,woman,False,D,Cherbourg,yes,True
474,0,3,female,22.0,0,0,9.8375,S,Third,woman,False,NaN,Southampton,no,True
501,0,3,female,21.0,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
554,1,3,female,22.0,0,0,7.7750,S,Third,woman,False,NaN,Southampton,yes,True
627,1,1,female,21.0,0,0,77.9583,S,First,woman,False,D,Southampton,yes,True
635,1,2,female,28.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
641,1,1,female,24.0,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
649,1,3,female,23.0,0,0,7.5500,S,Third,woman,False,NaN,Southampton,yes,True
708,1,1,female,22.0,0,0,151.5500,S,First,woman,False,NaN,Southampton,yes,True
710,1,1,female,24.0,0,0,49.5042,C,First,woman,False,C,Cherbourg,yes,True
717,1,2,female,27.0,0,0,10.5000,S,Second,woman,False,E,Southampton,yes,True
730,1,1,female,29.0,0,0,211.3375,S,First,woman,False,B,Southampton,yes,True
816,0,3,female,23.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True

In [ ]:
tt.query('''age >=20 & age <50 and sex =='male' ''').iloc[0:500][['survived','sex','pclass','alone']].query('survived == 0')

     survived   sex  pclass  alone
0           0  male       3  False
4           0  male       3   True
12          0  male       3   True
13          0  male       3  False
20          0  male       2   True
..        ...   ...     ...    ...
881         0  male       3   True
883         0  male       2   True
884         0  male       3   True
886         0  male       2   True
890         0  male       3   True

[252 rows x 4 columns]

In [ ]:
#혼자였던 사람
tt[tt['alone']==True]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# 다중조건
tt[(tt['class']=='First') & (tt['alone']==True)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
#먼저 불린값으로 데이터를 추출 후 인덱스 loc 1:300 값을 추출
tt[(tt['class']=='First') & (tt['alone']==True)].loc[1:300]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
61,1,1,female,38.0,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
83,0,1,male,28.0,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
110,0,1,male,47.0,0,0,52.0000,S,First,man,True,C,Southampton,no,True
139,0,1,male,24.0,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
170,0,1,male,61.0,0,0,33.5000,S,First,man,True,B,Southampton,no,True
174,0,1,male,56.0,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
177,0,1,female,50.0,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
187,1,1,male,45.0,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
194,1,1,female,44.0,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.0,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
209,1,1,male,40.0,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
218,1,1,female,32.0,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
252,0,1,male,62.0,0,0,26.5500,S,First,man,True,C,Southampton,no,True
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.0,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
263,0,1,male,40.0,0,0,0.0000,S,First,man,True,B,Southampton,no,True
269,1,1,female,35.0,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,A,Southampton,no,True
290,1,1,female,26.0,0,0,78.8500,S,First,woman,False,NaN,Southampton,yes,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,C,Southampton,yes,True

In [ ]:
#뒤의를 iloc integer location 인덱스 값이 다름
tt[(tt['class']=='First') & (tt['alone']==True)].iloc[1:300]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
61,1,1,female,38.0,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
tt.loc[1:300][(tt['class']=='First') & (tt['alone']==True)]

<ipython-input-42-181a21f5bb77>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tt.loc[1:300][(tt['class']=='First') & (tt['alone']==True)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
61,1,1,female,38.0,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
83,0,1,male,28.0,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
110,0,1,male,47.0,0,0,52.0000,S,First,man,True,C,Southampton,no,True
139,0,1,male,24.0,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
170,0,1,male,61.0,0,0,33.5000,S,First,man,True,B,Southampton,no,True
174,0,1,male,56.0,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
177,0,1,female,50.0,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
187,1,1,male,45.0,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
194,1,1,female,44.0,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.0,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
209,1,1,male,40.0,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
218,1,1,female,32.0,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
252,0,1,male,62.0,0,0,26.5500,S,First,man,True,C,Southampton,no,True
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.0,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
263,0,1,male,40.0,0,0,0.0000,S,First,man,True,B,Southampton,no,True
269,1,1,female,35.0,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,A,Southampton,no,True
290,1,1,female,26.0,0,0,78.8500,S,First,woman,False,NaN,Southampton,yes,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,C,Southampton,yes,True

In [ ]:
tt[(tt['class']=='First') & (tt['alone']==True)].loc[1:300]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
61,1,1,female,38.0,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
83,0,1,male,28.0,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
110,0,1,male,47.0,0,0,52.0000,S,First,man,True,C,Southampton,no,True
139,0,1,male,24.0,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
170,0,1,male,61.0,0,0,33.5000,S,First,man,True,B,Southampton,no,True
174,0,1,male,56.0,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
177,0,1,female,50.0,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
187,1,1,male,45.0,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
194,1,1,female,44.0,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.0,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
209,1,1,male,40.0,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
218,1,1,female,32.0,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
252,0,1,male,62.0,0,0,26.5500,S,First,man,True,C,Southampton,no,True
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.0,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
263,0,1,male,40.0,0,0,0.0000,S,First,man,True,B,Southampton,no,True
269,1,1,female,35.0,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,A,Southampton,no,True
290,1,1,female,26.0,0,0,78.8500,S,First,woman,False,NaN,Southampton,yes,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,C,Southampton,yes,True

In [ ]:
# 오름차순
tt.sort_values('sex')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
383,1,1,female,35.0,1,0,52.0000,S,First,woman,False,NaN,Southampton,yes,False
218,1,1,female,32.0,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
609,1,1,female,40.0,0,0,153.4625,S,First,woman,False,C,Southampton,yes,True
216,1,3,female,27.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
215,1,1,female,31.0,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,0,3,male,18.0,1,0,6.4958,S,Third,man,True,NaN,Southampton,no,False
372,0,3,male,19.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
373,0,1,male,22.0,0,0,135.6333,C,First,man,True,NaN,Cherbourg,no,True
360,0,3,male,40.0,1,4,27.9000,S,Third,man,True,NaN,Southampton,no,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
#내림차순
tt.sort_values('sex',ascending=False)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
495,0,3,male,NaN,0,0,14.4583,C,Third,man,True,NaN,Cherbourg,no,True
536,0,1,male,45.0,0,0,26.5500,S,First,man,True,B,Southampton,no,True
538,0,3,male,NaN,0,0,14.5000,S,Third,man,True,NaN,Southampton,no,True
543,1,2,male,32.0,1,0,26.0000,S,Second,man,True,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,1,1,female,30.0,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
678,0,3,female,43.0,1,6,46.9000,S,Third,woman,False,NaN,Southampton,no,False
677,1,3,female,18.0,0,0,9.8417,S,Third,woman,False,NaN,Southampton,yes,True
448,1,3,female,5.0,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
520,1,1,female,30.0,0,0,93.5000,S,First,woman,False,B,Southampton,yes,True

In [ ]:
# 두 개의 컬럼 정렬
tt.sort_values(['sex','embarked'])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
39,1,3,female,14.0,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True

- 두 개 이상 기준점을 잡을 때 맨 앞에 있는 친구가 기준점이 된다.
    - 뒤에 있는 컬럼은 동일한 값일 때 그 다음 기준점이 된다.

In [ ]:
# 내림차순 오름차순 지정
tt.sort_values(['sex','embarked'], ascending=[True, False])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,1,1,male,NaN,0,0,29.7000,C,First,man,True,C,Cherbourg,yes,True
843,0,3,male,34.5,0,0,6.4375,C,Third,man,True,NaN,Cherbourg,no,True
847,0,3,male,35.0,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
pc_gr=tt.groupby('class')

<ipython-input-49-242c35ddc2ff>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pc_gr=tt.groupby('class')

In [ ]:
for i,j in pc_gr:
    print(i)
    print(j)

First
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1           1       1  female  38.0      1      0  71.2833        C  First
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
11          1       1  female  58.0      0      0  26.5500        S  First
23          1       1    male  28.0      0      0  35.5000        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
11   woman       False    C  Southampton   yes   True
23     man        True    A  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[216 rows x 15 columns]
Second
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
17          1       2    male   NaN      0      0  13.0000        S  Second
20          0       2    male  35.0      0      0  26.0000        S  Second
21          1       2    male  34.0      0      0  13.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second
883         0       2    male  28.0      0      0  10.5000        S  Second
886         0       2    male  27.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
15   woman       False  NaN  Southampton   yes   True
17     man        True  NaN  Southampton   yes   True
20     man        True  NaN  Southampton    no   True
21     man        True    D  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
866  woman       False  NaN    Cherbourg   yes  False
874  woman       False  NaN    Cherbourg   yes  False
880  woman       False  NaN  Southampton   yes  False
883    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True

[184 rows x 15 columns]
Third
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0           0       3    male  22.0      1      0   7.2500        S  Third
2           1       3  female  26.0      0      0   7.9250        S  Third
4           0       3    male  35.0      0      0   8.0500        S  Third
5           0       3    male   NaN      0      0   8.4583        Q  Third
7           0       3    male   2.0      3      1  21.0750        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
882         0       3  female  22.0      0      0  10.5167        S  Third
884         0       3    male  25.0      0      0   7.0500        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third
890         0       3    male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
2    woman       False  NaN  Southampton   yes   True
4      man        True  NaN  Southampton    no   True
5      man        True  NaN   Queenstown    no   True
7    child       False  NaN  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
882  woman       False  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
888  woman       False  NaN  Southampton    no  False
890    man        True  NaN   Queenstown    no   True

[491 rows x 15 columns]

In [ ]:
pc_gr.get_group('First')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
pc_gr.get_group('Second')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True

In [ ]:
## 2개의 groupby 묶는다.
ps_gr=tt.groupby(['class','embark_town'])

<ipython-input-54-81565e4f2574>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ps_gr=tt.groupby(['class','embark_town'])

In [ ]:
for i,j in ps_gr:
    print(i)
    print(j)

('First', 'Cherbourg')
     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
1           1       1  female  38.0      1      0   71.2833        C  First
30          0       1    male  40.0      0      0   27.7208        C  First
31          1       1  female   NaN      1      0  146.5208        C  First
34          0       1    male  28.0      1      0   82.1708        C  First
52          1       1  female  49.0      1      0   76.7292        C  First
..        ...     ...     ...   ...    ...    ...       ...      ...    ...
839         1       1    male   NaN      0      0   29.7000        C  First
842         1       1  female  30.0      0      0   31.0000        C  First
849         1       1  female   NaN      1      0   89.1042        C  First
879         1       1  female  56.0      0      1   83.1583        C  First
889         1       1    male  26.0      0      0   30.0000        C  First

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
30     man        True  NaN   Cherbourg    no   True
31   woman       False    B   Cherbourg   yes  False
34     man        True  NaN   Cherbourg    no  False
52   woman       False    D   Cherbourg   yes  False
..     ...         ...  ...         ...   ...    ...
839    man        True    C   Cherbourg   yes   True
842  woman       False  NaN   Cherbourg   yes   True
849  woman       False    C   Cherbourg   yes  False
879  woman       False    C   Cherbourg   yes  False
889    man        True    C   Cherbourg   yes   True

[85 rows x 15 columns]
('First', 'Queenstown')
     survived  pclass     sex   age  sibsp  parch  fare embarked  class  \
245         0       1    male  44.0      2      0  90.0        Q  First
412         1       1  female  33.0      1      0  90.0        Q  First

       who  adult_male deck embark_town alive  alone
245    man        True    C  Queenstown    no  False
412  woman       False    C  Queenstown   yes  False
('First', 'Southampton')
     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
3           1       1  female  35.0      1      0   53.1000        S  First
6           0       1    male  54.0      0      0   51.8625        S  First
11          1       1  female  58.0      0      0   26.5500        S  First
23          1       1    male  28.0      0      0   35.5000        S  First
27          0       1    male  19.0      3      2  263.0000        S  First
..        ...     ...     ...   ...    ...    ...       ...      ...    ...
862         1       1  female  48.0      0      0   25.9292        S  First
867         0       1    male  31.0      0      0   50.4958        S  First
871         1       1  female  47.0      1      1   52.5542        S  First
872         0       1    male  33.0      0      0    5.0000        S  First
887         1       1  female  19.0      0      0   30.0000        S  First

       who  adult_male deck  embark_town alive  alone
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
11   woman       False    C  Southampton   yes   True
23     man        True    A  Southampton   yes   True
27     man        True    C  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
862  woman       False    D  Southampton   yes   True
867    man        True    A  Southampton    no   True
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
887  woman       False    B  Southampton   yes   True

[127 rows x 15 columns]
('Second', 'Cherbourg')
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
43          1       2  female   3.0      1      2  41.5792        C  Second
122         0       2    male  32.5      1      0  30.0708        C  Second
135         0       2    male  23.0      0      0  15.0458        C  Second
181         0       2    male   NaN      0      0  15.0500        C  Second
292         0       2    male  36.0      0      0  12.8750        C  Second
308         0       2    male  30.0      1      0  24.0000        C  Second
361         0       2    male  29.0      1      0  27.7208        C  Second
389         1       2  female  17.0      0      0  12.0000        C  Second
473         1       2  female  23.0      0      0  13.7917        C  Second
547         1       2    male   NaN      0      0  13.8625        C  Second
608         1       2  female  22.0      1      2  41.5792        C  Second
685         0       2    male  25.0      1      2  41.5792        C  Second
817         0       2    male  31.0      1      1  37.0042        C  Second
827         1       2    male   1.0      0      2  37.0042        C  Second
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second

       who  adult_male deck embark_town alive  alone
9    child       False  NaN   Cherbourg   yes  False
43   child       False  NaN   Cherbourg   yes  False
122    man        True  NaN   Cherbourg    no  False
135    man        True  NaN   Cherbourg    no   True
181    man        True  NaN   Cherbourg    no   True
292    man        True    D   Cherbourg    no   True
308    man        True  NaN   Cherbourg    no  False
361    man        True  NaN   Cherbourg    no  False
389  woman       False  NaN   Cherbourg   yes   True
473  woman       False    D   Cherbourg   yes   True
547    man        True  NaN   Cherbourg   yes   True
608  woman       False  NaN   Cherbourg   yes  False
685    man        True  NaN   Cherbourg    no  False
817    man        True  NaN   Cherbourg    no  False
827  child       False  NaN   Cherbourg   yes  False
866  woman       False  NaN   Cherbourg   yes  False
874  woman       False  NaN   Cherbourg   yes  False
('Second', 'Queenstown')
     survived  pclass     sex   age  sibsp  parch   fare embarked   class  \
303         1       2  female   NaN      0      0  12.35        Q  Second
322         1       2  female  30.0      0      0  12.35        Q  Second
626         0       2    male  57.0      0      0  12.35        Q  Second

       who  adult_male deck embark_town alive  alone
303  woman       False    E  Queenstown   yes   True
322  woman       False  NaN  Queenstown   yes   True
626    man        True  NaN  Queenstown    no   True
('Second', 'Southampton')
     survived  pclass     sex   age  sibsp  parch  fare embarked   class  \
15          1       2  female  55.0      0      0  16.0        S  Second
17          1       2    male   NaN      0      0  13.0        S  Second
20          0       2    male  35.0      0      0  26.0        S  Second
21          1       2    male  34.0      0      0  13.0        S  Second
33          0       2    male  66.0      0      0  10.5        S  Second
..        ...     ...     ...   ...    ...    ...   ...      ...     ...
864         0       2    male  24.0      0      0  13.0        S  Second
865         1       2  female  42.0      0      0  13.0        S  Second
880         1       2  female  25.0      0      1  26.0        S  Second
883         0       2    male  28.0      0      0  10.5        S  Second
886         0       2    male  27.0      0      0  13.0        S  Second

       who  adult_male deck  embark_town alive  alone
15   woman       False  NaN  Southampton   yes   True
17     man        True  NaN  Southampton   yes   True
20     man        True  NaN  Southampton    no   True
21     man        True    D  Southampton   yes   True
33     man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
864    man        True  NaN  Southampton    no   True
865  woman       False  NaN  Southampton   yes   True
880  woman       False  NaN  Southampton   yes  False
883    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True

[164 rows x 15 columns]
('Third', 'Cherbourg')
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
19          1       3  female   NaN      0      0   7.2250        C  Third
26          0       3    male   NaN      0      0   7.2250        C  Third
36          1       3    male   NaN      0      0   7.2292        C  Third
39          1       3  female  14.0      1      0  11.2417        C  Third
42          0       3    male   NaN      0      0   7.8958        C  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
847         0       3    male  35.0      0      0   7.8958        C  Third
852         0       3  female   9.0      1      1  15.2458        C  Third
858         1       3  female  24.0      0      3  19.2583        C  Third
859         0       3    male   NaN      0      0   7.2292        C  Third
875         1       3  female  15.0      0      0   7.2250        C  Third

       who  adult_male deck embark_town alive  alone
19   woman       False  NaN   Cherbourg   yes   True
26     man        True  NaN   Cherbourg    no   True
36     man        True  NaN   Cherbourg   yes   True
39   child       False  NaN   Cherbourg   yes  False
42     man        True  NaN   Cherbourg    no   True
..     ...         ...  ...         ...   ...    ...
847    man        True  NaN   Cherbourg    no   True
852  child       False  NaN   Cherbourg    no  False
858  woman       False  NaN   Cherbourg   yes  False
859    man        True  NaN   Cherbourg    no   True
875  child       False  NaN   Cherbourg   yes   True

[66 rows x 15 columns]
('Third', 'Queenstown')
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
5           0       3    male   NaN      0      0   8.4583        Q  Third
16          0       3    male   2.0      4      1  29.1250        Q  Third
22          1       3  female  15.0      0      0   8.0292        Q  Third
28          1       3  female   NaN      0      0   7.8792        Q  Third
32          1       3  female   NaN      0      0   7.7500        Q  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
790         0       3    male   NaN      0      0   7.7500        Q  Third
825         0       3    male   NaN      0      0   6.9500        Q  Third
828         1       3    male   NaN      0      0   7.7500        Q  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
890         0       3    male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck embark_town alive  alone
5      man        True  NaN  Queenstown    no   True
16   child       False  NaN  Queenstown    no  False
22   child       False  NaN  Queenstown   yes   True
28   woman       False  NaN  Queenstown   yes   True
32   woman       False  NaN  Queenstown   yes   True
..     ...         ...  ...         ...   ...    ...
790    man        True  NaN  Queenstown    no   True
825    man        True  NaN  Queenstown    no   True
828    man        True  NaN  Queenstown   yes   True
885  woman       False  NaN  Queenstown    no  False
890    man        True  NaN  Queenstown    no   True

[72 rows x 15 columns]
('Third', 'Southampton')
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0           0       3    male  22.0      1      0   7.2500        S  Third
2           1       3  female  26.0      0      0   7.9250        S  Third
4           0       3    male  35.0      0      0   8.0500        S  Third
7           0       3    male   2.0      3      1  21.0750        S  Third
8           1       3  female  27.0      0      2  11.1333        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
878         0       3    male   NaN      0      0   7.8958        S  Third
881         0       3    male  33.0      0      0   7.8958        S  Third
882         0       3  female  22.0      0      0  10.5167        S  Third
884         0       3    male  25.0      0      0   7.0500        S  Third
888         0       3  female   NaN      1      2  23.4500        S  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
2    woman       False  NaN  Southampton   yes   True
4      man        True  NaN  Southampton    no   True
7    child       False  NaN  Southampton    no  False
8    woman       False  NaN  Southampton   yes  False
..     ...         ...  ...          ...   ...    ...
878    man        True  NaN  Southampton    no   True
881    man        True  NaN  Southampton    no   True
882  woman       False  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
888  woman       False  NaN  Southampton    no  False

[353 rows x 15 columns]

In [ ]:
ps_gr.get_group(('First', 'Southampton'))

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True

In [ ]:
ps_gr.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
ss_gr=tt.groupby('sex')

In [ ]:
ss_gr.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
tt_sp=tt[['pclass','age','fare']]

pc_gr=tt_sp.groupby('pclass')

In [ ]:
pc_gr.mean()

              age       fare
pclass
1       38.233441  84.154687
2       29.877630  20.662183
3       25.140620  13.675550

In [ ]:
pc_gr.count()

        age  fare
pclass
1       186   216
2       173   184
3       355   491

In [ ]:
pc_gr.std()

              age       fare
pclass
1       14.802856  78.380373
2       14.001077  13.417399
3       12.495398  11.778142

In [ ]:
## 다양한 통계치 = agg / mode는 없다
tt.groupby('pclass').agg(fare_sum = ('fare','sum'),
                        fare_mode= ('fare','mode'),
                        n_cnt = ('fare','count'))

AttributeError: 'SeriesGroupBy' object has no attribute 'mode'

In [ ]:
## agg 함수는 내가 만든 함수도 적용시킬 수 있다!

def min_max(x):
    return x.max() - x.min()

In [ ]:
#내가 만든 튜닝한 함수를 agg 넣어서 바로 원하는 값을 출력할 수 있다.
pc_gr.agg(min_max)

          age      fare
pclass
1       79.08  512.3292
2       69.33   73.5000
3       73.58   69.5500

In [ ]:
gr_pc=tt.groupby('class')

<ipython-input-71-8796ced24705>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gr_pc=tt.groupby('class')

In [ ]:

## 기초통계치 확인
display('class First 기초통계',gr_pc.get_group('First').describe())
display('class Second 기초통계',gr_pc.get_group('Second').describe())
display('class Third 기초통계',gr_pc.get_group('Third').describe())

'class First 기초통계'

         survived  pclass         age       sibsp       parch        fare
count  216.000000   216.0  186.000000  216.000000  216.000000  216.000000
mean     0.629630     1.0   38.233441    0.416667    0.356481   84.154687
std      0.484026     0.0   14.802856    0.611898    0.693997   78.380373
min      0.000000     1.0    0.920000    0.000000    0.000000    0.000000
25%      0.000000     1.0   27.000000    0.000000    0.000000   30.923950
50%      1.000000     1.0   37.000000    0.000000    0.000000   60.287500
75%      1.000000     1.0   49.000000    1.000000    0.000000   93.500000
max      1.000000     1.0   80.000000    3.000000    4.000000  512.329200

'class Second 기초통계'

         survived  pclass         age       sibsp       parch        fare
count  184.000000   184.0  173.000000  184.000000  184.000000  184.000000
mean     0.472826     2.0   29.877630    0.402174    0.380435   20.662183
std      0.500623     0.0   14.001077    0.601633    0.690963   13.417399
min      0.000000     2.0    0.670000    0.000000    0.000000    0.000000
25%      0.000000     2.0   23.000000    0.000000    0.000000   13.000000
50%      0.000000     2.0   29.000000    0.000000    0.000000   14.250000
75%      1.000000     2.0   36.000000    1.000000    1.000000   26.000000
max      1.000000     2.0   70.000000    3.000000    3.000000   73.500000

'class Third 기초통계'

         survived  pclass         age       sibsp       parch        fare
count  491.000000   491.0  355.000000  491.000000  491.000000  491.000000
mean     0.242363     3.0   25.140620    0.615071    0.393075   13.675550
std      0.428949     0.0   12.495398    1.374883    0.888861   11.778142
min      0.000000     3.0    0.420000    0.000000    0.000000    0.000000
25%      0.000000     3.0   18.000000    0.000000    0.000000    7.750000
50%      0.000000     3.0   24.000000    0.000000    0.000000    8.050000
75%      0.000000     3.0   32.000000    1.000000    0.000000   15.500000
max      1.000000     3.0   74.000000    8.000000    6.000000   69.550000

In [ ]:
## 생존율 계산

display('class First 생존율',gr_pc.get_group('First')['survived'].mean() * 100)
display('pclass Second 생존율',gr_pc.get_group('Second')['survived'].mean() * 100)
display('pclass Third 생존율',gr_pc.get_group('Third')['survived'].mean() * 100)

'class First 생존율'

62.96296296296296

'pclass Second 생존율'

47.28260869565217

'pclass Third 생존율'

24.236252545824847

In [ ]:
import pandas as pd

In [ ]:
#생존률 차이
pd.crosstab(tt['pclass'],tt['survived'])

survived    0    1
pclass
1          80  136
2          97   87
3         372  119

In [ ]:
tt.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True